@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500&display=swap");

:root {
  --font: "Poppins", sans-serif;
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --grayish-violet-transparent: hsla(257, 7%, 63%, 0.25);
  --dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --white: hsl(0, 0%, 100%);
  --bg-gray: hsla(225, 33%, 95%, 1);
  --button-hover: hsla(180, 56%, 75%, 1);
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

button {
  background: none;
  border: none;
  font: inherit;
}

img,
svg {
  display: block;
}

ul {
  list-style: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.button-link {
  display: block;
  width: fit-content;
  background: var(--cyan);
  border-radius: 28px;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--white);
  text-decoration: none;
  padding: 1.4rem 4rem 1.2rem;
  margin-inline: auto;
}

#root {
  overflow: hidden;
}

/* Header */

.header {
  width: min(87.2%, 32.7rem);
  margin: 4rem auto 2.3rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-wrapper {
  width: min(87.2%, 32.7rem);
  position: fixed;
  top: 9.6rem;
  background: var(--dark-violet);
  padding: 4rem 2.4rem;
  border-radius: 10px;
  transform: translateY(-150%);
  transition: 500ms ease-in-out;
}

.nav-links-wrapper.open {
  transform: translateY(0);
  transition: 500ms ease-in-out;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.nav-links:nth-of-type(1) {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--grayish-violet-transparent);
  margin-bottom: 3.2rem;
}

.nav-links:nth-of-type(2) {
  gap: 2.4rem;
}

.nav-link {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--white);
  text-decoration: none;
}

.button-link-wrapper {
  width: 100%;
}

.login .button-link {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.7rem;
  padding: 1.2rem 1rem 0.9rem;
}

.lock-scroll {
  overflow: hidden;
}

/* Hero Section */

.hero {
  margin-top: 2.3rem;
}

.hero-image {
  width: 100%;
}

.hero .image-wrapper {
  width: 51.1rem;
  margin-bottom: 3.7rem;
}

.main-heading {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 4.8rem;
  letter-spacing: -1.05px;
  color: var(--dark-blue);
}

.hero .paragraph {
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0.122727px;
  color: var(--grayish-violet);
  margin: 1.5rem auto 3.2rem;
}

/* Main */

.main {
  margin-top: 16.8rem;
  background-color: var(--bg-gray);
  position: relative;
  padding-top: 8rem;
}

/* Form */

.shorten-form {
  width: min(87.2%, 32.7rem);
  margin-inline: auto;
  background-color: var(--dark-violet);
  background-image: url("../public/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top -3rem left 9rem;
  border-radius: 10px;
  padding: 2.4rem;
  position: absolute;
  top: -8rem;
  left: 0;
  right: 0;
}

.url-input {
  width: 100%;
  background: var(--white);
  border: 3px solid var(--white);
  border-radius: 5px;
  padding: 0.6rem 1.6rem;
  font: inherit;
  font-size: 1.6rem;
  line-height: 3.6rem;
}

.input-error {
  border: 3px solid var(--red);
}

::placeholder {
  color: var(--dark-blue);
  letter-spacing: 0.12px;
  opacity: 0.5;
}

.input-error::placeholder {
  color: var(--red);
}

.error-message {
  display: none;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.0818182px;
  color: var(--red);
  position: absolute;
  bottom: 8.8rem;
  left: 2.4rem;
}

.shorten-button {
  background: var(--cyan);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: var(--white);
  width: 100%;
  padding: 1.1rem 1rem 1rem;
  margin-top: 1.6rem;
}

.input-error ~ .shorten-button {
  margin-top: 3.8rem;
}

.error-padding {
  padding-top: 11.8rem;
}

/* Shortened Links */
.shortened-links-wrapper {
  width: min(87.2%, 32.7rem);
  margin: 2.4rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.shortlink-container {
  background: var(--white);
  border-radius: 5px;
  text-align: left;
  font-size: 1.6rem;
  line-height: 3.6rem;
  letter-spacing: 0.12px;
}

.original-link-wrapper {
  padding: 0.6rem 1.6rem;
  border-bottom: 1px solid var(--grayish-violet-transparent);
}

.original-link {
  color: var(--dark-blue);
  overflow-wrap: break-word;
}

.shortened-link-wrapper {
  padding: 0.6rem 1.6rem 1.6rem;
}

.shortened-link {
  color: var(--cyan);
}

.copy-button {
  margin-top: 0.8rem;
  background: var(--cyan);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 100%;
  padding: 0.9rem 1rem 0.7rem;
  color: var(--white);
}

.copy-button.copied {
  background: var(--dark-violet);
}

/* Advanced Statistics */

.statistics {
  width: min(87.2%, 32.7rem);
  margin: 8rem auto 0;
}

.statistics .section-heading {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.8rem;
  letter-spacing: -0.7px;
  color: var(--dark-blue);
}

.statistics .paragraph {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.109091px;
  color: var(--grayish-violet);
  margin-top: 1.6rem;
}

/* Cards */

.cards-wrapper {
  margin-top: 9.2rem;
  display: flex;
  flex-direction: column;
  gap: 9.2rem;
}

.card {
  background: var(--white);
  border-radius: 5px;
  position: relative;
  padding: 7.7rem 3.2rem 4.1rem;
}

.card:nth-of-type(1)::before {
  content: "";
  position: absolute;
  bottom: -65rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 0.8rem;
  height: 65rem;
  background-color: var(--cyan);
}

.card:nth-of-type(2) {
  padding-bottom: 3.2rem;
}

.icon-wrapper {
  position: absolute;
  top: -4.4rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 8.8rem;
  height: 8.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-violet);
  border-radius: 50%;
}

.card-heading {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: var(--dark-blue);
}

.card .paragraph {
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--grayish-violet);
  margin-top: 1.2rem;
  font-weight: 400;
}

/* Boost */

.boost {
  margin-top: 8rem;
  background-color: var(--dark-violet);
  background-image: url("../public/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 9rem 3.5rem 9rem 3.6rem;
}

.boost .section-heading {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.8rem;
  letter-spacing: -0.7px;
  color: var(--white);
  margin-bottom: 1.6rem;
}

/* Footer */

.footer {
  background-color: var(--very-dark-violet);
  padding: 5.4rem 1rem 1rem;
}

.footer-logo {
  margin-inline: auto;
}

.footer .logo {
  fill: var(--white);
}

.links-heading {
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.25px;
  color: var(--white);
  margin-top: 4rem;
}

.links-heading:nth-of-type(1) {
  margin-top: 4.9rem;
}

.social-icons-wrapper {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: fit-content;
  gap: 2.4rem;
}

.footer-links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer-link {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.234375px;
  color: var(--gray);
  text-decoration: none;
}

.attribution {
  margin-top: 5.6rem;
  font-size: 1.1rem;
  color: var(--white);
}
.attribution a {
  color: var(--gray);
  text-decoration: none;
}

/* Media Queries */
@media screen and (min-width: 1250px) {
  /* General Styles */

  .button-link:hover,
  .shorten-button:hover,
  .copy-button:not(.copied):hover {
    background-color: var(--button-hover);
    cursor: pointer;
  }

  /* Header */

  .header {
    width: min(76.9%, 110.8rem);
    margin: 4.8rem auto 7.8rem;
  }

  /* Navbar */

  .navbar {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 4.453rem;
  }

  .navigation-menu {
    display: none;
  }

  .nav-links-wrapper {
    width: 100%;
    position: static;
    background: none;
    padding: 0;
    border-radius: 10;
    transform: translateY(0);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    flex-direction: row;
    gap: 0;
  }

  .nav-links:nth-of-type(1) {
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
    width: 26.5rem;
    justify-content: space-between;
  }

  .nav-links:nth-of-type(2) {
    gap: 3.7rem;
  }

  .nav-link {
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: var(--grayish-violet);
  }

  .nav-link:hover {
    color: var(--dark-blue);
  }

  .login .button-link {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding: 0.9rem 2.3rem 0.8rem 2.4rem;
  }

  /* Hero Section */

  .hero {
    margin-top: 7.8rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: left;
  }

  .hero .image-wrapper {
    margin-bottom: 0;
  }

  .hero-image {
    position: relative;
    left: 6.7rem;
    width: 73.3rem;
  }

  .text-content {
    width: min(100%, 66.5rem);
  }

  .main-heading {
    font-size: 8rem;
    line-height: 9rem;
    letter-spacing: -2px;
    margin-top: 7rem;
  }

  .hero .paragraph {
    width: min(100%, 54rem);
    font-size: 2.2rem;
    line-height: 3.6rem;
    letter-spacing: 0.15px;
    margin: 0 0 3.6rem;
    font-weight: 400;
  }

  .hero .button-link {
    margin-inline: 0;
  }

  /* Main */

  .main {
    margin-top: 15.2rem;
    padding-top: 8.4rem;
  }

  /* Form */

  .shorten-form {
    background-image: url("../public/images/bg-shorten-desktop.svg");
    background-position: center;
    width: min(77%, 111rem);
    padding: 5.2rem 6.5rem 5.2rem 6.2rem;
    position: absolute;
    top: -8.4rem;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2.4rem;
  }

  .url-input {
    width: 100%;
    padding: 1.4rem 3.2rem 1.1rem;
    font-size: 2rem;
    letter-spacing: 0.15px;
    border-radius: 10px;
    font-weight: 400;
  }

  .error-message {
    font-size: 1.6rem;
    letter-spacing: 0.109091px;
    top: 12.4rem;
    left: 6.4rem;
  }

  .shorten-button {
    font-size: 2rem;
    padding: 1.8rem 4rem 1.6rem 4.1rem;
    margin-top: 0;
    border-radius: 10px;
  }

  .error-padding {
    padding-top: 8.4rem;
  }

  .input-error ~ .shorten-button {
    margin-top: 0;
  }

  /* Shortened Links */
  .shortened-links-wrapper {
    width: min(77%, 111rem);
    gap: 1.6rem;
  }

  .shortlink-container {
    font-size: 2rem;
    letter-spacing: 0.15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem 1.6rem 3.2rem;
  }

  .original-link-wrapper {
    padding: 0;
    border-bottom: none;
  }

  .shortened-link-wrapper {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.4rem;
  }

  .copy-button {
    margin-top: 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    width: 10.3rem;
    padding: 1rem 1rem 0.7rem;
  }

  /* Advanced Statistics */

  .statistics {
    width: min(77%, 111rem);
    margin: 12.5rem auto 0;
  }

  .statistics .section-heading {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  .statistics .paragraph {
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0.122727px;
    width: min(100%, 54rem);
    margin: 1.8rem auto 0;
  }

  /* Cards */

  .cards-wrapper {
    margin-top: 9.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    height: 35.5rem;
  }

  .card {
    text-align: left;
    width: 35rem;
    padding: 7.7rem 3rem 4.1rem 3.2rem;
  }

  .card:nth-of-type(1)::before {
    top: auto;
    left: 35rem;
    bottom: 10.9rem;
    margin-inline: auto;
    height: 0.8rem;
    width: 45rem;
  }

  .card:nth-of-type(2) {
    padding-bottom: 4.1rem;
    align-self: center;
  }

  .card:nth-of-type(3) {
    padding-top: 7.4rem;
    align-self: flex-end;
  }

  .icon-wrapper {
    left: 3.2rem;
    right: auto;
    margin-inline: 0;
  }

  .card .paragraph {
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-top: 1.5rem;
    letter-spacing: 0;
  }

  /* Boost */

  .boost {
    background-image: url("../public/images/bg-boost-desktop.svg");
    margin-top: 12rem;
    padding: 6.3rem 5.7rem 5.7rem;
  }

  .boost .section-heading {
    font-size: 4rem;
    letter-spacing: -1px;
    margin-bottom: 2.6rem;
  }

  /* Footer */

  .footer {
    padding: 7.2rem 0 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    text-align: left;
    width: min(77%, 111rem);
    margin: 0 auto;
  }

  .footer-logo {
    position: relative;
    right: 0.3rem;
    margin-right: 18rem;
  }

  .links-heading,
  .links-heading:nth-of-type(1) {
    margin-top: 0;
  }

  .footer-links-wrapper {
    margin-right: 5rem;
  }

  .footer-links-wrapper:nth-of-type(1) {
    position: relative;
    left: 2.4rem;
  }

  .footer-link:hover {
    color: var(--cyan);
  }

  .social-icons-wrapper {
    margin-top: 0;
  }

  .social-icon-wrapper:hover {
    cursor: pointer;
  }

  .social-icon-wrapper:hover .social-icon {
    fill: var(--cyan);
  }

  .attribution {
    margin-top: 5.8rem;
  }

  .attribution a:hover {
    color: var(--cyan);
  }
}
